<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
		<services>
			<service name="WebProxyService.WebProxyService">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/WebProxyService/WebProxyService" binding="webHttpBinding" contract="WebProxyService.IWebProxyService" />
			</service>

		</services>
		<behaviors>

			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
		
					<webHttp />
				</behavior>

			</endpointBehaviors>

		</behaviors>

	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>